html, body
{
   font-family: 'Poppins', sans-serif;
   background-color: #f0f0f0;
   padding: 0;
   margin: 0;
}

#menu 
{
  position: fixed;
  background-color: #f6f6f6;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  
}

#logo
{
   width: auto;
   height: 100px;
}

#opciones_menu 
{
   list-style: none;
   display: flex;
   gap: 30px;
   margin: 0;
   padding: 0;
}
.opcion 
{
   text-decoration: none;
   color: #5c5b5b;
   font-weight: 600;
}



.contenido
{
   margin: 0 auto;
   padding: 40px;
   text-align: center;
   Display:flex;
   flex-direction: column;  
   align-items: center;
   text-align: center;
}

h1 {
    color: #FF8C00;
}

h2 {
    color: #FF8C00;
}


.seccion-contacto 
{
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    border-radius: 5px;
    max-width: 600px;
}


.formulario 
{
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    border-radius: 5px;
    max-width: 600px;
}

label 
{
    display: block;
    margin-top: 10px;
    color: #333;
}

input, textarea 
{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

textarea 
{
    height: 100px;
}



#pie_pagina
{
   width: 100%;
   background-color: #f6f6f6; 
   border-top: 1px solid #ccc;  
   padding: 20px 0;
   font-size: 14px;
   color: #333;
}

#titulo_footer
{
   text-align: center;
}
#desarrolladores 
{
   display: flex;
   justify-content: center;
   gap: 70px;
   list-style: none;
   margin: 30px 0 0 0;
   font-style: italic;
}

.iconos {
    font-size: 2rem;
    color: #333;
    transition: color 0.3s;
}

.iconos:hover {
    color: #000;
}