html, body
{
   font-family: 'Poppins', sans-serif;
   padding: 0;
   margin: 0;
}

#menu {
   position: fixed;
   background-color: #f5f5f5 !important;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 1000;
   height: 100px;
   transition: top 0.3s ease;
}

#menu:hover {
   box-shadow: 0 4px 10px rgba(0,0,0,0.3);
   transition: box-shadow 0.3s;
}

.link {
   position: relative;
   transition: color 0.3s ease;
}

.link::after {
   content: '';
   position: absolute;
   width: 0;
   height: 2px;
   bottom: 0;
   left: 0;
   background-color: #ffc107; /* amarillo bootstrap */
   transition: width 0.3s ease;
}

@media (max-width: 991px) {
   .link::after {
    display: none !important;
   }
   #logo{
      height: 90px !important;
   }
}

.link:hover::after,
.link:focus::after {
   width: 100%;
}

#logo
{
   width: auto;
   height: 100px;
}

#opciones_menu 
{
   list-style: none;
   display: flex;
   gap: 30px;
   margin: 0;
   padding: 0;
}

#titulo_pagina{
   color: rgb(250, 184, 4);
   font-weight: bold;
}

.opcion 
{
   text-decoration: none;
   color: #5c5b5b;
   font-weight: 600;
}

.contenido
{
   margin-top: 100px;
   padding: 40px;
   text-align: center;
   Display:flex;
   flex-direction: column;  
   align-items: center;
   text-align: center;
}

h1 {
    color: #FF8C00;
}

h2 {
    color: #FF8C00;
}


.seccion-contacto 
{
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    border-radius: 5px;
    max-width: 600px;
}

.card:hover {
   transform: translateY(-10px) !important;
   box-shadow: 0 8px 16px rgba(0,0,0,0.2) !important;
}
.formulario 
{
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    border-radius: 5px;
    max-width: 600px;
}

label 
{
    display: block;
    margin-top: 10px;
    color: #333;
}

input, textarea 
{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

textarea 
{
    height: 100px;
}



#pie_pagina{
   position: absolute;
   margin: 0;
   padding: 20px 0;
   border: none;
   box-shadow: none;
   text-align: center;
   width: 100%;
   background-color: #f6f6f6 !important;
   height: 100px;
   transition: top 0.3s ease;
   box-shadow: 0 -4px 16px rgba(0,0,0,0.3);
}

#titulo_footer
{
   text-align: center;
}
#desarrolladores 
{
   display: flex;
   justify-content: center;
   gap: 70px;
   list-style: none;
   margin: 30px 0 0 0;
   font-style: italic;
}

.iconos {
    font-size: 2rem;
    color: #333;
    transition: color 0.3s;
}

.iconos:hover {
    color: #000;
}
